/*======================
	Variables
======================*/
/*======================
	Imports
======================*/
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.overlay {
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.6s ease-in-out; }

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px; }

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s; }

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1; }

.closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px !important; }

@media screen and (max-height: 450px) {
  .overlay {
    overflow-y: auto; }

  .overlay a {
    font-size: 20px; }

  .closebtn {
    font-size: 40px !important;
    top: 15px;
    right: 35px; } }
h1 {
  font-family: "soria", serif;
  font-size: 5.8125rem;
  color: #D0B17D;
  text-align: center; }
@font-face {
  h1 {
    font-family: "soria";
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/soria-font.ttf.eot?#iefix") format("embedded-opentype"), url("/fonts/soria-font.ttf.woff2") format("woff2"), url("/fonts/soria-font.ttf.woff") format("woff"), url("/fonts/soria-font.ttf.ttf") format("truetype"), url("/fonts/soria-font.ttf.svg#soria") format("svg"); } }
  h1.small {
    font-size: 4.125rem;
    line-height: 0.1; }

h2 {
  font-size: 4.3125rem;
  color: #D0B17D;
  text-align: center; }

* {
  font-family: 'PT Serif', serif;
  font-size: 1.125rem;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  color: #4A4A4A;
  margin: 0;
  padding: 0; }

header.main-head {
  position: fixed; }

section.welcome {
  background-color: #4F63A9;
  border: solid #F2AFBC 0.875rem; }
  section.welcome header {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; }
    section.welcome header::after {
      clear: both;
      content: "";
      display: table; }
    section.welcome header section {
      background-image: url(../images/aliceBack.svg);
      background-repeat: no-repeat;
      background-position: center;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 65.88078%;
      margin-left: 17.05961%;
      padding: 6.1875rem 0; }
      section.welcome header section:last-child {
        margin-right: 0; }
      section.welcome header section img {
        width: 100%;
        display: block;
        margin: 0 auto; }
      section.welcome header section div.mainBtns {
        float: left;
        display: block;
        margin-right: 3.57866%;
        width: 48.21067%;
        margin-left: 25.89467%;
        margin-top: 1.5625rem; }
        section.welcome header section div.mainBtns:last-child {
          margin-right: 0; }
        section.welcome header section div.mainBtns a {
          display: block;
          margin: 0 auto;
          font-size: 2.25rem;
          text-align: center;
          text-decoration: none;
          color: #fff;
          background-color: #D0B17D; }
          section.welcome header section div.mainBtns a:last-child {
            margin-top: 0.9375rem;
            color: #D0B17D;
            background-color: transparent;
            border: solid #D0B17D 0.125rem; }

section.howTo {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 3.75rem 0; }
  section.howTo::after {
    clear: both;
    content: "";
    display: table; }
  section.howTo article {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin-left: 25.58941%; }
    section.howTo article:last-child {
      margin-right: 0; }

/*# sourceMappingURL=main.css.map */
