// main scss file

/*======================
	Variables
======================*/
//color scheme
$gold: #D0B17D;
$blue: #4F63A9;
$pink: #F2AFBC;
$black: #4A4A4A;

/*======================
	Imports
======================*/
@import "../bourbon/bourbon";
@import "grid-settings";
@import "../neat/neat";
@import "menu";
@import "typo";


*{
	font-family: 'PT Serif', serif;
	font-size: rem(18);
	font-weight:normal;
	-webkit-font-smoothing: antialiased;
	color: $black;
	margin: 0;
	padding: 0;
}
button {
	&:focus {
		outline: none;			
	}
}

header.main-head {
	position: fixed;
	width: 100%;
	section.navBar {
		@include outer-container();
		padding: rem(25) rem(20);
		div.logo {
			@include span-columns(6);
			@include media($mobile) {
				@include span-columns(4);
			}	
		}
		div.menuBtn {
			@include span-columns(6);
			float: right;
			text-align: right;
			button {
				background: none;
				border: none;
				color: $gold;
				text-transform: capitalize;
				@include transition(all 0.2s ease-in-out);
				img {
					color: $gold;
					width: auto;
					height: rem(34);
					padding-left: rem(25);
					display: inline-block;
					position: relative;
					top: rem(10);
					@include media($mobile-S) {
						height: rem(25);
						padding-left: rem(15);
						top: rem(8);
					}
				}
				&:hover {
					@include filter(sepia(0.5));			
				}
				&:active {
					@include filter(brightness(0.7));			
				}
			}
			@include media($mobile) {
				@include span-columns(4);
				float: right;
			}	
			@include media($mobile-S) {
				float: right;
				margin-top: rem(8);
			}
		}
	}
}
section.welcome {
	background-color: $blue;
	background-image: url(../images/aliceBack.svg);
	background-repeat: no-repeat;
	background-position: center; 
	border: solid $pink rem(14px);
	height: 100%; // height fallback
	height: 100vh;
	header {
		@include outer-container();
		section{
			@include span-columns(8);
			@include shift(2);
			padding: rem(80) 0;
			@include media($tablet) {
				padding: rem(100) 0;
		      @include span-columns(8);
		      @include shift(0);
		    }
		    @include media($mobile) {
		    	padding: rem(200) 0;
		      @include span-columns(8);
		    }
			div.mainBtns {
				@include span-columns(4 of 8);
				@include shift(2 of 8);
				margin-top: rem(25);
				a{	
					display: block;
					margin: 0 auto;
					padding: rem(10) 0;
					font-size: rem(36);
					text-align: center;
					text-decoration: none;
					text-transform: uppercase;
					color: #fff;
					background-color: $gold;
					border-radius: rem(5);
					@include transition(all 0.2s ease-in-out);
					&:hover {background-color: tint($gold, 25%);}
					&:active {background-color: shade($gold, 25%);}
					&:last-child {
						margin-top: rem(15); 
						color: $gold;
						background-color: transparent;
						border: solid $gold rem(2);
						&:hover {
							border-color: tint($gold, 25%);
							color: tint($gold, 25%);
						}
						&:active {
							border-color: shade($gold, 25%);
							color: shade($gold, 25%);
						}
					}
					@include media($mobile) {
				      font-size: rem(18);
				    }
				}
				@include media($tablet) {
			      @include span-columns(4 of 8);
			      @include shift(2 of 8);
			    }
			    @include media($mobile) {
			    	@include span-columns(6 of 8);
			      	@include shift(1 of 8);
			      	margin-top: rem(60);
			    }
			}
		}

	}
}
section.howTo {
	@include outer-container();
	padding: rem(60) 0 rem(50);
	article {
		@include span-columns(6);
		@include shift(3);
		img {
			padding: rem(20) 0;
			width: 100%;
		}
		@include media($tablet) {
	      @include span-columns(6 of 8);
	      @include shift(1);
	    }
	}
}
section.gameBack {
	background-color: $blue;
	border: solid $pink rem(14px);
	height: 100%; // height fallback
	height: 100vh;
	display: block;
	section.gameContainer {
		@include outer-container();
		height: rem(430); // height fallback
		height: 85vh;
		padding-top: 80px;
		section.gameClock {
			@include span-columns(6);
			@include shift(3);
			padding-bottom: rem(15);
			p{text-align: center;color: $gold;font-size: rem(24);}
		}
		section.game {
			margin: 0 auto;
			height: 400px;
			display: table;
			@include media($game-break) {
				height: 300px;	
			}
		}
		@include media($game-break) {
			padding-top: 100px;	
		}
		section.modal {
			border: $gold 4px solid;
			div.modal-content {
				div.successBtns {
				@include span-columns(4 of 8);
				@include shift(2 of 8);
				margin-top: rem(25);
				margin-bottom: rem(25);
				a{	
					display: block;
					margin: 0 auto;
					padding: rem(10) 0;
					font-size: rem(36);
					text-align: center;
					text-decoration: none;
					text-transform: uppercase;
					color: #fff;
					background-color: $gold;
					border-radius: rem(5);
					@include transition(all 0.2s ease-in-out);
					&:hover {background-color: tint($gold, 25%);}
					&:active {background-color: shade($gold, 25%);}
					&:last-child {
						margin-top: rem(15); 
						color: $gold;
						background-color: transparent;
						border: solid $gold rem(2);
						&:hover {
							border-color: tint($gold, 25%);
							color: tint($gold, 25%);
						}
						&:active {
							border-color: shade($gold, 25%);
							color: shade($gold, 25%);
						}
					}
					@include media($success) {
				      font-size: rem(25);
				    }
					@include media($mobile) {
				      font-size: rem(18);
				    }
				}
				@include media($tablet) {
			      @include span-columns(4 of 8);
			      @include shift(2 of 8);
			    }
			    @include media($mobile) {
			    	@include span-columns(6 of 8);
			      	@include shift(1 of 8);
			      	margin-top: rem(60);
			    }
			}
			}
			
		}
		
	}
}
footer {
	@include outer-container();
	padding: rem(0) rem(10) rem(20) rem(10);
	height: auto;
	margin-bottom: rem(30);
	div.divider {
			@include span-columns(12);
			height: rem(1);
			background-color: $gold;
			-webkit-box-shadow: 0 -5px 0 $gold;
			box-shadow: 0 -5px 0 $gold;
		}
	section {
		
		div {
			@include span-columns(8);
			height: auto;
			&:last-child {
				@include span-columns(4);
				text-align: right;
				@include media($tablet-S) {
			    	text-align: right;
			    	@include span-columns(3);
			    }
			     @include media($mobile) {
			    	@include span-columns(8);
			    	text-align: left;
			    }
			}
			@include media($tablet-S) {
		    	@include span-columns(5);
		    }
		    @include media($mobile) {
		    	@include span-columns(8);
		    	text-align: left;
		    }

		}
	}	
}