<header ng-include="'templates/header.html'" class="main-head"></header>
<section class="welcome">
	<header>
		<section>
			<h1>Alice broke</h1>
			<h1 class="small">the</h1>
			<h1>Looking Glass</h1>
			<div class="mainBtns">
				<a href="#/game">Play</a>
				<a href="#how-to" class="scroll">How to play</a>
			</div>			
		</section>
	</header>
</section>
<section class="howTo">
	<article>
		<h2 id="how-to">How to Play</h2>
		<img src="images/aliceExplain.png">
		<p>Alice has manage to break the Looking Glass! Now she might never return to Wonderland. Help Alice fix the Looking Glass by dragging the mirror Shards back into the Looking Glass' Frame, Wonderland should be reflected in the mirror shards.</p>
	</article>
</section>
<footer ng-include="'templates/footer.html'"></footer>