<section>
	<div ng-if="onGame">
	<img src="images/logo-S.svg">
	</div>
	<button type="button" onclick="openNav()">menu<i class="fa fa-bars" aria-hidden="true"></i></button>
</section>

<section id="myNav" class="overlay">
	<button type="button" class="closebtn" href="javascript:void(0)" onclick="closeNav()">X</button>
	<nav class="overlay-content">
		<a href="#/welcome" onclick="closeNav()">Welcome</a>
		<a href="#/welcome#how-to" onclick="closeNav()">How To Play</a>
		<a href="#/game" onclick="closeNav()">Play Game</a>
	</nav>
</section>
