<section class="navBar">
	<div ng-if="onGame" class="logo">
		<img src="images/logo-S.svg">
	</div>
	<div class="menuBtn">
		<button type="button" onclick="openNav()">menu<img src="images/menu.svg"></button>
	</div>
</section>

<section id="myNav" class="overlay">
	<a class="closebtn" href="javascript:void(0)" onclick="closeNav()"><img src="images/cross.png"></a>
	<nav class="overlay-content">
		<a href="#/welcome" onclick="closeNav()">Welcome</a>
		<a href="#/welcome#how-to" onclick="closeNav()">How To Play</a>
		<a href="#/game" onclick="closeNav()">Play Game</a>
	</nav>
</section>
